<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	
	<property name="LOG_FILE_NAME" value="./big-log-analyzer" />
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE_NAME}.log</file>
		<encoder>
			<pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE_NAME}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-15.15t] %-5p %-30.30c{1} - %m%n</pattern>
        </encoder>
    </appender>

	<logger name="com.kk.tools.analyzer" level="debug" />

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</configuration>